*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html{
    width: 100vw;
}

body{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

#boxCronometro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    border: 3px solid #888;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
}

#boxData{
    text-align: center;
    margin: 5px;
}

#boxDisplay{
    text-align: center;
    font-size: 1.2em;
    font-family: arial;
    color: rgb(10, 208, 10);
    padding: 15px;
    background-color: #333;
    width: 200px;
    border-radius: 10px;
}

#boxAlarme{
    display: flex;
    margin: 5px;
    font-weight: 600;
}

#alarme{
    color: rgb(49, 156, 76);
}

#boxEntrada{
    display: flex;
    flex-direction: column;
}

#boxEntrada > label{
    font-size: 0.8em;
}

#boxEntrada > #input{
    padding: 10px;
    width: 250px;
    /* font-size: 1.2em; */
    border-radius: 5px;
}

#ativar,#parar{
    padding: 13px;
    margin-top: 10px;
    width: 100px;
    border-radius: 10px;
    font-size:0.8em;
    border: 3px solid;
}

.estilo_alarme{
    background-color: red !important;
}