@font-face {
    font-family: 'digital';
    src: url(./fontes/DS-DIGIB.TTF) format(TrueType);
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: arial;
}

html{
    width: 100vw;
}

body{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    background-color: cadetblue;
}

#boxCronometro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    border: 4px solid #928f8f;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.475);
}

#boxData{
    text-align: center;
    margin: 5px;
}

#boxDisplay{
    font-family: digital;
    text-align: center;
    font-size: 1.8em;
    color: rgb(10, 208, 10);
    padding: 15px;
    background-color: #333;
    width: 200px;
    border-radius: 10px;
}

#boxAlarme{
    display: flex;
    margin: 5px;
    font-weight: 600;
}



#boxEntrada{
    display: flex;
    flex-direction: column;
}

#boxEntrada > label{
    font-size: 0.8em;
}

#boxEntrada > #input{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
}

#alarme{
}

#ativar,#parar{
    padding: 13px;
    margin-top: 10px;
    width: 100px;
    border-radius: 10px;
    font-size:0.8em;
    border: 3px solid;
}

#ativar:active,#parar:active{
    background-color: lightgrey;
    transform: translate(-1px,-2px);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.459);
}

.estilo_alarme{
    background-color: red !important;
}

.animaçao{
    animation-name: transformaçao;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-direction: alternate-reverse;
}

@keyframes transformaçao {
    to{
        opacity: 100%;
        color: white;
    }from{
        opacity: 80%;
        color: #aaa;
    }
}